* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

::selection {
    background-color: #b3d4ff;
    color: #001434;
}

html {
    scroll-behavior: smooth;
    scrollbar-gutter: stable;
    cursor: default;
}

body {
    background-color: #ffffff;
}

button {
    user-select: none;
}

@font-face {
    font-family: "opinion";
    src: url("opinion-pro-extrabold.otf");
}

@font-face {
    font-family: "opin";
    src: url("Mint Type - Opinion Pro Light.otf");
}

#top {
    font-family: opinion;
    font-size: 60px;
    letter-spacing: 3px;
    word-spacing: 3px;
    color: #001434;
    text-transform: uppercase;
    padding: 1%;
    padding-left: 3%;

    svg {
        width: 50px;
        height: 50px;
        fill: #001434;
    }
}

.main-content {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 10vw;
    padding: 0 50px;
    margin-top: 20px;
    min-height: 75vh;
}

#imgs-section {
    position: relative;
    width: 590px;
    height: 690px;
    top: -20px;
    display: flex;
    align-items: center;
    flex-direction: column;

    #imgs {
        display: grid;
        grid-template-areas: "overlay";
        width: 100%;
        aspect-ratio: 1 / 1;

        img {
            grid-area: overlay;
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 40px;
            user-select: none;
        }
    }

    svg {
        width: 40px;
        height: 40px;
    }

    #R-D {
        width: 90%;
        position: absolute;
        display: flex;
        gap: 30px;
        bottom: 0;
        justify-content: center;
    }

    button {
        flex: 1 1;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;
        font-family: opinion;
        width: 190px;
        height: 60px;
        border: none;
        border-radius: 40px;
        font-size: 28px;
        transition: 0.3s;
        cursor: pointer;
    }

    #random {
        background-color: #e0e3e6;
        color: #003677;

        svg {
            fill: #003677;
        }
    }

    #random:hover {
        background: #D8DADD;
    }

    #download {
        background-color: #003677;
        color: white;

        svg {
            fill: white;
        }
    }

    #download:hover {
        background-color: #174780;
    }
}

#btns {
    width: 45vw;
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
    margin-left: -60px;

    p {
        font-size: 21px;
        font-family: opinion;
        color: #001434;
        text-transform: uppercase;
        align-self: stretch;
        margin-left: 50px;
    }

    #p2 {
        opacity: 0;
        transition: 0.3s;
    }

    #p2.active {
        opacity: 1;
    }

    button {
        font-family: opin;
        background-color: #ffffff;
        border: solid #2b5caf;
        border-width: 2px;
        border-radius: 40px;
        font-size: 20px;
        font-weight: 700;
        color: #2b5caf;
        height: 60px;
        cursor: pointer;
        transition: 0.2s;
    }

    button:not(.active):hover {
        transform: translateY(-3px);
        background-color: #003677;
        border-color: #003677;
        color: white;
        box-shadow: 0 3px 9px rgb(107, 107, 107);
    }

    button:not(.active):active {
        transform: translateY(1px) scale(0.98);
    }
}

#btns1 {
    width: 70%;
    display: flex;
    flex-wrap: wrap;
    gap: 15px;

    button {
        flex: 1 1 calc(33.33% - 15px);
    }
}

#btns2 {
    opacity: 0;
    transition: 0.3s;
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;

    button {
        flex: 1 1 calc(25% - 10px);
    }
}

#btns2.active {
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    opacity: 1;

    button {
        flex: 1 1 calc(25% - 10px);
    }
}

button.active {
    transform: translateY(1px);
    background-color: #003677 !important;
    border-color: #003677 !important;
    color: white !important;
    box-shadow: 0 3px 9px rgb(107, 107, 107);
}

footer {
    display: flex;
    width: 100%;
    height: 40px;
    align-items: center;
    justify-content: center;
    font-family: opin;
    font-size: 14px;
    font-weight: 1000;
    color: #ffffff;
    letter-spacing: 0.5px;
    background-color: #003677;
    margin-top: 10px;
}